.original {
    display: flex;
    padding: 2rem;
    width: 90%;
}

.original p {
    color: #fff;
    font-family: var(--font-family);
    padding: 2rem;
}

.original_details h2 {
    color: #fff;
    font-family: var(--font-family);
    padding-left: 2rem;
    text-align: left;
}