.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2rem 4rem;
    /* border: 2px solid hotpink; */
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.navbar-links_logo {
    margin-right: 2rem;
}

.navbar-links_logo img {
    width: 200px;
    height: 30px;
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
}

.navbar-links_container p,
.navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: #782f0e;
    padding: 2rem 2.1rem 2rem 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    z-index: 99 !important;
}

.navbar-menu_container p {
    margin: 1rem 0;
    margin-bottom: 1.5rem;
}


@media screen and (max-width: 850px) {
    .navbar-links_container {
        display: none;
    }
    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }
    .navbar-menu_container {
        top:20px;
    }
}

@media screen and (max-width: 300px) {
    .navbar {
        padding: 2rem 0.5rem;
    }
    .navbar-menu_container {
        top:20px;
    }
}
