{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block navstyle %}

<li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
   </li>
{% endblock %}

{% block main %}
<div class="container-fluid my-5 row d-flex align-content-center" style="height: 500px;">
      <form action="/predict", method="get" class="d-flex justify-content-center">
            <input class="form-control me-2" placeholder="Movie Name" name="movie" autofocus>
            <button class="btn btn-outline-success" type="submit">Recommend!</button>
      </form>
</div>
{% endblock %}