<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/navbar.css" rel="stylesheet">
         
      
      </head>
      
      <body>
         <nav class="navbar navbar-dark navbar-expand-md bg-black">
            <div class="container-xl">
               <a class="navbar-brand" href="/">
                  <img src="static\logo.jpg" alt="Movie Recommender" width="100" height="50">
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  
                     <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% block navstyle %}{% endblock %}
                     </ul>
                  
               </div>
            </div>
         </nav>

         {% block main %}{% endblock %}
        
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

      </body>
   
</html>