.rec_each {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid hotpink; */
    justify-content: center;
    padding: 1rem;
}

.rec_each p {
    
    text-align: center;
    padding-top: 0.8rem;
}