.nav_about_container {
    flex: 1 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    position: relative;
}

.about {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 480px;
    padding: 2rem;
    background:radial-gradient(circle at 0% 0%, rgba(54, 24, 2, 1) 0%, rgb(10, 4, 4) 100%);
    border-radius: 10px;
    
}

.about h2 {
    color: #fff;
    font-size: 38px;
    font-family: var(--font-family);
    padding: 1rem 2rem 0.5rem 2rem;
}


.about p {
    color: #fff;
    font-family: var(--font-family);
    padding: 2rem 2rem 0 2rem;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.institute,
.github {
    padding: 0.5rem 2rem 2rem 2rem;
}

.institute p, 
.github p {
    padding: 0;
}

.github p {
    font-weight: 500;
    line-height: 60px;
    font-size: 22px;
}


.name p {
    font-weight: 550;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 1rem;
}


@media screen and (max-width: 1100px) {
    .about {
        padding: 2rem 1rem 1rem 1rem;
        width: 75%;
    }
    
}

@media screen and (max-width: 800px) {
    .about {
        padding: 1rem;
        width: 88%;
    }
    .name p {
        font-size: 20px !important;
    }
    .about p {
        padding-top: 0.8rem;
        font-size: 19px;
    }   
    .about h2 {
        font-size: 34px;
        padding-bottom: 0.8rem;
    }
}

@media screen and (max-width: 550px) {

    .about {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        height: 430px;
    }
    .about p {
        font-size: 14px;
        line-height: 23px;   
    }   
    .about h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 495px) {
    .about {
        padding: 0.5rem;
        height: 390px;
    }

    .about h2 {
        padding-bottom: 0rem;
    }
}

@media screen and (max-width: 480px) {
    .about {
        padding: 0.1rem;
    }
    .about p {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 420px) {
    .about {
        padding: 0;
    }
    .about p {
        padding: 0.5rem 2rem;
    }
    .name, .github, .institute {
        padding-left: 0;
    }
    .name {
        padding-top: 1rem;
    }
}