.nav_apology_container {
    flex: 1 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.apology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    position: relative;
}