.nav_how_container {
    flex: 1 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.how_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    position: relative;
}

.how {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 480px;
    padding: 2rem;
    background:radial-gradient(circle at 0% 0%, rgba(54, 24, 2, 1) 0%, rgb(10, 4, 4) 100%);
    border-radius: 10px;
}
.how p {
    color: #fff;
    font-family: var(--font-family);
    padding: 1.5rem 2rem 0 2rem;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.how h2 {
    color: #fff;
    font-size: 38px;
    font-family: var(--font-family);
    padding: 1rem 2rem 1rem 2rem;
}


@media screen and (max-width: 1100px) {
    .how {
        padding: 2rem 1rem 1rem 1rem;
        width: 75%;
    }
    
}

@media screen and (max-width: 800px) {
    .how {
        padding: 1rem;
        width: 88%;
    }
    .how p {
        padding-top: 1rem;
        font-size: 16px;
    }   
    .how h2 {
        font-size: 34px;
        padding-bottom: 0.8rem;
    }
}

@media screen and (max-width: 550px) {

    .how {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        height: 430px;
    }
    .how p {
        font-size: 14px;
        line-height: 23px;   
    }   
    .how h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 495px) {
    .how {
        padding: 0.5rem;
        height: 390px;
    }

    .how h2 {
        padding-bottom: 0rem;
    }
}

@media screen and (max-width: 480px) {
    .how {
        padding: 0.1rem;
    }
    .how p {
        font-size: 13px;
        line-height: 22px;
    }
}

@media screen and (max-width: 420px) {
    .how {
        padding: 0;
    }
    .how p {
        padding: 0.5rem 2rem;
    }
}