@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --color-bg: #040C18;
  --gradient-text: linear-gradient(48deg, rgba(160, 87, 32, 0.8) 0%, rgba(128, 34, 31, 0.904) 60%);

}