h1 {
    font-family: var(--font-family);
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #fff;
    text-align: center;
    font-family: var(--font-family);
}

.recs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.recs p {
    color: #fff;
    font-family: var(--font-family);
}