.heading h1 {
    font-family: var(--font-family);
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin-left: 3rem; */
    padding-left: 4rem;
    text-align: left;
    /* border: 2px solid hotpink; */
}


.recs {
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-around;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    padding: 0.5rem 1rem;
    /* border: 2px solid hotpink; */
    /* background: #fff; */
    margin-bottom: 20px;
}

.recs p {
    color: #fff;
    font-family: var(--font-family);
    max-width: 200px;
}





/* Media queries follow */

@media screen and (max-width:1200px) {
    .recs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width:740px) {
    .recs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0;
    }
    
}
@media screen and (max-width:540px) {
    
    .heading h1 {
        padding: 1rem 1rem 1rem 1.2rem;
        margin-bottom: 1rem;
    }

}